page-thankyou {
    .fullscreen{
        background: no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 60%
    }
    .title {
        position: sticky;
        text-align: center;
        top: 0px;
        z-index: 9999999;
        background: #3C3C3C;
        border: 1px solid black;
        color: #f5a54d;
        text-shadow: 3px 3px 16px black;
    }

}
