page-feedback {
     ul {
        padding: 0px;

        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;

          ion-icon {
            font-size: 30px;
          }
        }
      }

      ion-header {
          padding: 10px;
      }

      .button-md {
          color: rgb(246, 174, 86) !important;
          background-color: transparent !important;
          box-shadow: none !important;

      }
      ion-header {
          padding: 10px;
      }
      ion-header.header.header-md {
          background: #131313;
          position: relative;
      }

          .toolbar-title.toolbar-title-md{
            color: white;
            font-family: 'Cinzel', sans-serif;
            text-shadow: none !important;
            font-size: 22px;
            text-shadow: 1px 1px 20px #eeb06145;
            position: absolute;
            top: 10px;
          }
      .button-md:hover {
      background: #f6ae56 !important;
      border-radius: 7px;
      /* width: 1%; */
      color: black !important;
      transition: 0.5s linear !important;
    }

      #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }



}
