page-addcomment {

  .button-md {
      color: rgb(246, 174, 86) !important;
      background-color: transparent !important;
      box-shadow: none !important;

  }

  .button-md:hover {
  background: #f6ae56 !important;
  border-radius: 7px;
  /* width: 1%; */
  color: black !important;
  transition: 0.5s linear !important;
}


ion-header {
    padding: 10px;
}
}
