page-home {

    page-home .list-md .item-block .item-inner {
        border-bottom: 2px solid #f5a54d;
    }


    .button-md {
        color: rgb(246, 174, 86) !important;
        background-color: transparent !important;
        box-shadow: none !important;

    }

    .button-md:hover {
    background: #f6ae56 !important;
    border-radius: 7px;
    /* width: 1%; */
    color: black !important;
    transition: 0.5s linear !important;
  }

  ion-header {
      padding: 10px;
  }
    .texthomepage p {
        color: #ffaf57;
        font-weight: 500;
        text-align: center;

        text-shadow: 2px 2px 12px black;
     font-size: 25px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 2px solid #f5a54d;
    }
    img.listemenuimage {
        z-index: -1;
    }

    .toolbar-title.toolbar-title-md{
      color: white;
      font-family: 'Cinzel', sans-serif;
      text-shadow: none !important;
    }

    .texthomepage {
        z-index: 999;
        position: absolute;
        width: 90%;
        bottom: 40%;
        font-weight: 700
    }

    .blackscreen {
        position: absolute;
        top: 10px;
        left: 16px;
        background: #00000087;
        width: 92%;
        height: 95%;
        // padding-right: 311px;
        // padding-bottom: 467px;
    }

    img.listemenuimage {
        z-index: -1;
        width: 100%
    }
    .titleexpo {
        position: absolute;
        bottom: 50%;
        left: 5%;
        width: 90%;

     text-shadow: 2px 2px 12px #f5a54d;
    }
    .titleexpo h2 {

        font-size: 30px !important;
        text-align: center !important;
    }

    .item-md p {
        margin: 0 0 2px;
        overflow: inherit;
        line-height: normal;
        text-overflow: inherit;
    }

    .subtitle {
    top: 40px;
    background: #000000ad;
    width: 100%;
    text-align: center;
}

 .toolbar-title.toolbar-title-md {
    position: absolute;
    top: 10px;
    left: 10px;
}
  .subtitle h2 {
    margin-top: 1rem;
    font-size: 20px;
}

    h1 {
        font-size: 22px;
        text-align: center;
    }


}
