<ion-header>
    <ion-title>Mes favoris</ion-title>
    <button class="buttonmenu" ion-button [menuToggle]>
      <ion-icon name="menu"></ion-icon>
    </button>
</ion-header>
<ion-content>
  <ion-list inset>
      <ng-container *ngFor="let expo of expos">
        <ng-container *ngFor="let favorit of favorits">
                <ion-option *ngIf="user.uid == favorit.id_Users" >
                        <ion-option *ngIf="favorit.id_Expo == expo.id" >
                <h2 class="center">{{expo.name}}</h2>
                <!-- <p>{{favorit.id_Users}}</p> -->
                <img class="listemenuimage" src="{{expo.image_ios}}">
                </ion-option>
                </ion-option>

        </ng-container>
    </ng-container>
    </ion-list>
</ion-content>
