page-my-favorites {

    img.listemenuimage {
        z-index: -1;
        width: 100%
    }
    .button-md {
        color: rgb(246, 174, 86) !important;
        background-color: transparent !important;
        box-shadow: none !important;

    }

    ion-header {
        padding: 10px;
    }

    .button-md:hover {
    background: #f6ae56 !important;
    border-radius: 7px;
    /* width: 1%; */
    color: black !important;
    transition: 0.5s linear !important;
  }
}
