page-splashscreen {

  .ios, .md {
 
    page-splash {
 
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
 
        #bars {
            height: 80%;
 
            .cls-1 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.2s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-2 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.4s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-3 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.6s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-4 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.8s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-5, .cls-6 {
                opacity: 0;
                animation: 2s 1.5s linear fadeIn;
                animation-fill-mode: forwards;
            }
 
        }
 
    }
 
}
 
@keyframes fadeInAndSpin {
 
    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }
 
}
 
@keyframes fadeIn {
 
    100% {
        opacity: 1;
    }
 
}

    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
      }
      
      .flb {
        background-color: #3ebffb;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Aligner-item {
        max-width: 50%;
      }
      .Aligner-item--top {
        align-self: flex-start;
      }
      .Aligner-item--bottom {
        align-self: flex-end;
      }
      #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
      }

      @keyframes pulse {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }

}
