page-welcome {.splash-bg {
  position: relative;
  background: url('../assets/img/splashbg.png') no-repeat transparent;
  background-size: cover;
  height: 100%;
  z-index: 1;
  background-repeat: repeat-x;
  animation: animatedBackground 22s cubic-bezier(0.1, 0.1, 0.49, 0.81) infinite;
}
.blackbg {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100%;
  z-index: 999;
  background: #0000009c;
}
.contenthomepage {
  position: fixed;
  top: 40%;
  left: 15%;
  z-index: 99999;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.splash-info {
  position: relative;
  z-index: 2;
  margin-top: -64px;
  text-align: center;
}
.splash-logo {
  margin: auto;
  background: url('../assets/img/isiko_trans.imageset/isiko_trans.png') no-repeat transparent;
  background-size: 100%;
  width: 128px;
  height: 75px;
}
.splash-intro {
  font-size: 18px;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
}
button.login {
  margin-top: 25px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: #333;

  &.activated {
    background-color: rgb(220, 220, 220);
  }
}
}
