<ion-content>
  <div>
      <button ion-button menuToggle>Menu</button>
  </div>
    <ion-list inset>
      <ion-item *ngFor="let user of users">
        <div class="mondivinchAllah" *ngIf="value == user.id">
          <div class="imghome">
            <img class="listemenuimage" src="{{user.images}}">

            <div class="details">
                <div class="blackscreen"></div>
              <div class="titleexpo">
                <h2>{{user.name}}</h2>
              </div>
              <div class="texthomepage">
                <p>{{user.artists}}</p>
              </div>

                  </div>
          <!-- <h2>{{user.name}}</h2>
        <p>{{user.id}}</p>
        <p>{{user.artists}}</p>
        <p>{{user.ending_exhibition_date}}</p>
        <p>{{user.stars}}</p> -->
      <div class="buttonscontainer">
        <button  class=" btn-hover color-2" block clear (click)="openWebpage('http://player.isiko.io/MobileVersion/?exhibition=Iletaitunefois')">Commencer la visite</button>
        <!-- BUTTON ALGO LECTEUR FUNCTION -->
        <!-- <button ion-button block clear (click)="lecteuralgo()">Commencer la visite</button> -->
        <br>
        <button class="btn-hover color-2" block clear (click)="addtomyfavorit()">{{btn_txt}}</button>
        <br>
        <button class="btn-hover color-2" block clear (click)="addcomment()">Ajouter mon commentaire</button>
        <br>
        <button class="btn-hover color-2" block clear (click)="allcomment(user.id)">Voir tout les commentaires</button>
        <br>
        <button class="btn-hover color-2" block clear (click)="listoeuvres()">Voir la liste des Oeuvres</button>
        <br>
        <button class="btn-hover color-2" block clear (click)="backexpos()">Revenir à la liste des expositions</button>
      </div>
        </div>
      </div>


    </ion-item>
    </ion-list>
</ion-content>
