<ion-content>
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <div class="headerisiko">
    <button ion-button [menuToggle]>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button class="buttonreturn" block clear (click)="backexpos()"><span>Retour à la liste</span></button>

  </div>
    <ion-list inset>
      <ion-item *ngFor="let user of users">
        <div class="mondivinchAllah" *ngIf="value == user.id">
          <div class="imghome">
            <img class="listemenuimage" src="{{user.image_ios}}">

            <div class="details">
              <div class="titleblackscreen"></div>
                <div class="blackscreen"></div>
              <div class="titleexpo">
                <h2>{{user.name}}</h2>
              </div>
              <div class="texthomepage">
                <p>{{user.artists}}</p>
              </div>

                  </div>
          <!-- <h2>{{user.name}}</h2>
        <p>{{user.id}}</p>
        <p>{{user.artists}}</p>
        <p>{{user.ending_exhibition_date}}</p>
        <p>{{user.stars}}</p> -->
      <div class="buttonscontainer">
        <button  class=" btn-hover color-8" block clear (click)="openWebpage('http://player.isiko.io/MobileVersion/?exhibition=Iletaitunefois')">Commencer la visite</button>
        <!-- BUTTON ALGO LECTEUR FUNCTION -->
        <!-- <button ion-button block clear (click)="lecteuralgo()">Commencer la visite</button> -->
        <br>
        <button class="btn-hover color-2" block clear (click)="addtomyfavorit()">{{btn_txt}}</button>
        <button class="btn-hover color-2" block clear (click)="deletefavorit()">Suppimer mon favoris TEST</button>
        <br>
        <button class="btn-hover color-2" block clear (click)="addcomment()">Ajouter mon commentaire</button>
        <button class="btn-hover color-2" block clear (click)="deletecomment()">DELETE MON COMMENTAIRE TEST</button>
        <br>
        <button class="btn-hover color-2" block clear (click)="allcomment(user.id)">Voir tout les commentaires</button>
        <br>
      </div>
        </div>
      </div>


    </ion-item>
    </ion-list>
</ion-content>
