page-allcomment {

  p.commentaire {
    text-align: center;
}

.button-md {
    color: rgb(246, 174, 86) !important;
    background-color: transparent !important;
    box-shadow: none !important;

}

.button-md:hover {
background: #f6ae56 !important;
border-radius: 7px;
/* width: 1%; */
color: black !important;
transition: 0.5s linear !important;
}

ion-header {
    padding: 10px;
}

ionic3-star-rating {
    text-align: center;
}

.commentsection{
  border: 1px solid #f7c032;
  border-radius: 5px;
  margin-bottom: 10px;
}


p.commentaire.username {
    padding-bottom: 5px;
    border-bottom: 1px solid #f7c032;
    border-radius: 5px;
}

ion-icon.icon.icon-md.ion-ios-star {
    color: rgb(247, 192, 50) !important;
}

}
