<!--
  Generated template for the AllcommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Commentaires Disponible</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

<ng-container *ngFor="let comment of comments" class="zeubilamouche">

  <ion-option *ngIf="value == comment.exhibitionID" >
    <div class="commentsection">
    <p class="commentaire username">{{comment.userID}}</p>
    <ionic3-star-rating
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#488aff"
    defaultColor = "#f4f4f4"
    readonly="true"
    [rating]="comment.stars">
    </ionic3-star-rating>
   <p class="commentaire description"><br>{{comment.content}}</p>
 </div>

  </ion-option>

</ng-container>
<br>
<button ion-button block clear (click)="backvisit()">Ajouter mon commentaire !</button>
</ion-content>
